<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.pouillos.viergeapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/icons8_sac_argent"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/icons8_sac_argent"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.pouillos.viergeapp.activities.AccueilActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="com.pouillos.viergeapp.activities.afficher.AfficherDepenseActivity"
            android:windowSoftInputMode="stateHidden"/>
        <activity android:name="com.pouillos.viergeapp.activities.ajouter.AjouterCategorieDepenseActivity"
            android:windowSoftInputMode="stateHidden"/>
        <activity android:name="com.pouillos.viergeapp.activities.afficher.AfficherListeDepenseActivity"
            android:windowSoftInputMode="stateHidden"/>
    </application>

</manifest>